<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户主页</title>
    <script src="/plugins/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/user.css"/>
</head>

<body>
<div id="bigDiv">
    <div id="headDiv">
        <div id="logoDiv">
        </div>
        秀B13人脸识别
        <div id="logoutDiv">
            退出
        </div>
        <!--<div id="helpDiv">-->
        <!--帮助-->
        <!--</div>-->
    </div>
    <div id="menuDiv">
        <div id="clockingsMenu" class="menuDiv">
            我的刷脸记录
        </div>
        <!--<div id="analizeMenu" class="menuDiv">-->
        <!--收支统计-->
        <!--</div>-->
        <div id="imgDiv">
        </div>
        <div id="usernameDiv">
            用户
        </div>
    </div>
    <div id="contentDiv">
    </div>
</div>
</div>
<script src="/js/user.js"></script>
</body>
</html>